@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

/* main section styling */
/* buttons */
.btn{
  transition:color 0.8s ease-in-out, transform 0.8s ease-in-out,
  background-color 0.8s ease-in-out
}
.btn:hover{
  transform: scale(1.1);
  background-color: #0B64D9;
}
.btn1,
.btn2 {
  width: 190px;
}

/* yellow rectangle */
.rectangle::before {
  content: "";
  position: absolute;
  inset: 7.5rem -3.5rem 1rem;
  @apply bg-s6;
  border-radius: 1.5rem;
}
.rectangle {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle img {
  position: relative;
  z-index: 30;
  width: 80%;
}
/* navbar background */
.logo-bg {
  background-color: #fff;
  border-radius: 9999px;
  width: 100%;
}
/* blog page styling */
.content::first-letter{
  font-size: 4.3rem;
  font-weight: 400;
  line-height: 1;
  color: black;
  float: left;
}

/* for mobile screens */
@media screen and (max-width: 500px) {
  /* main section mobile  */
  .main-section {
    width: 90%;
    padding-bottom: 10px;
    padding-top: 50px;
  }
  .paragraph-text {
    width: 240px;
    margin-top: 10px;
  }
  .paragraph2 {
    width: 95%;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .buttons {
    margin-top: 14px;
    display: flex;
  }
  .btn1,
  .btn2 {
    max-width: 80px;
  }
  .btn1 {
    margin-right: 5px;
  }

  .rectangle::before {
    content: "";
    position: absolute;
    inset: 3.5rem -0.5rem 0.35rem;
    @apply bg-s6;
    border-radius: 1rem;
  }

  .rectangle img {
    width: 126px;
  }
  .heading1 {
    font-size: 24px;
    line-height: 30px;
  }
  .logo {
    width: 60px;
    padding: 6px;
  }
  .download {
    display: none;
  }
  /* subscribe section styling */
  .subscribe-text {
    font-size: 20px;
    line-height: 22px;
  }
  .subscribe {
    padding: 30px 20px 0 20px;
  }
  .mobile2 {
    width: 80%;
    margin-top: 20px;
  }
}
/* tablets */
@media screen and (min-width: 501px) and (max-width: 767px) {
  .main-section {
    width: 89%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .heading1 {
    font-size: 36px;
    line-height: 40px;
  }
  .rectangle img {
    width: 80%;
  }
  .btn1,
  .btn2 {
    max-width: 100px;
  }
  .btn1 {
    margin-right: 5px;
  }
  .buttons {
    margin-top: 15px;
  }
  .heading1 {
    width: 80%;
  }
  .paragraph2 {
    width: 70%;
    font-size: 12px;
    margin-top: 15px;
  }
  .rectangle::before {
    inset: 4rem -2.5rem 0.5rem;
    border-radius: 1rem;
    margin-left: 15px;
    margin-right: 20px;
  }
  /* responsive logo for mobile */

  .logo {
    width: 60px;
    padding: 6px;
  }
  .download {
    display: none;
  }
  .subscribe {
    margin-top: 20px;
  }

  /* subscribe section styling */
  /* .subscribe-text {
    font-size: 25px;
  }
  .subscribe {
    padding: 30px 20px 0 20px;
  } */
}
@media screen and (min-width: 768px) and (max-width: 1058px) {
  .main-section {
    width: 89%;
  }
  .heading1 {
    font-size: 42px;
    line-height: 40px;
  }
  .rectangle img {
    width: 50%;
  }
  .btn1,
  .btn2 {
    max-width: 120px;
  }
  .btn1 {
    margin-right: 5px;
  }
  .buttons {
    margin-top: 15px;
  }
  .heading1 {
    width: 80%;
  }
  .paragraph2 {
    width: 70%;
    font-size: 12px;
  }
  .rectangle::before {
    inset: 4rem -0.1rem 0.5rem;
    border-radius: 1rem;
    margin-left: 15px;
    margin-right: 20px;
  }
  .nav-bar {
    padding: 6px;
  }
  .download {
    padding: 3px 14px;
  }
  .subscribe {
    padding-left: 20px;
  }
  .subscribe-img {
    width: 100%;
  }
}
@media screen and (min-width: 1441px) {
  .heading1 {
    font-size: 6rem;
  }
  /* 
  .paragraph-text {
    width: 900px;
    margin-left: 25px;
  } */
  /* .paragraph2 {
    font-size: 2rem;
    width: 900px;
  } */
  .buttons {
    display: flex;
    gap: 50px;
  }
  /* blogs image styling */
}

